* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: 2px solid black;
  width: 350px;
  margin: 10px auto;
  padding: 0px 0px 30px 0px;
  background-color: #d3e7f9;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 5px #d3e7f9;
}
.display-div {
  display: flex;
  justify-content: center;
}
.display {
  height: 60px;
  background-color: #fffdc8;
  width: 264px;
  border: 1.5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: large;
  padding: 0px 10px;
}
.btn {
  height: 60px;
  width: 60px;
  margin: 4px 2px;
  font-weight: 700;
  font-size: large;
  background-color: #fffdc8;
  border: 1.5px solid grey;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #f4f090;
  transition: 0.2s ease-in-out;
}
#btn-equal {
  background-color: pink;
}
#btn-equal:hover {
  background-color: rgb(242, 156, 171);
}